.<div class="container">
    <div class="container-notfound text-center">
        <div class="notfoundimage">
            <img class="img-fluid" src="assets/images-error/error-404.jpg" alt="">
        </div>
        <div class="not-fountText mb-3">
            <h4 class="text-danger">
                المحتوى الذى تود الوصول اليه غير موجود
            </h4>
        </div>
        <div class="btn-notfound mb-3">
            <button class="btn btn-outline-danger"(click)="goHome()">الصفحه الرئيسيه</button>
        </div>
    </div>
</div>