.<div class="container text-center">
    <div class="container-notfound text-danger">
        <div class="notfoundimage">
            <img class="img-fluid rounded " src="assets/images-error/denied.jpg"style="height:400px" alt="">
        </div>
        <div class="not-fountText mt-3">
            <h4 class="text-danger">
            لاتملك صلاحية الدخول لهذه الصفحه
            </h4>
        </div>
        <div class="btn-notfound mt-3">
            <button class="btn btn-outline-danger"(click)="goHome()">الصفحه الرئيسيه</button>
        </div>
    </div>
</div>