<nav class="navbar navbar-expand-lg navbar-dark bg-dark ar">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" >{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active" >الرئيسيه <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-user-circle ml-3" style="font-size:25px"></i>
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class=""*ngIf="!loggin()">
            <a class="dropdown-item" [routerLink]="['/register']" routerLinkActive="router-link-active" >التسجيل</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="router-link-active">دخول</a>
          </div>
          <div class="" *ngIf="loggin()">
            <button class="dropdown-item"  (click)="logout()">تسجيل الخروج</button>
          </div>
        </div>

        </li>
      </ul>
    </div>
    <div *ngIf="isAdmin()" routerLink="/controlpanel" style="cursor: pointer;" class="text-white">
    <a>
      <i class="fas fa-user-shield"></i>
      <h4>لوحة التحكم</h4>
    </a>
  </div>
  </nav>
