<div class="container register rtl">
    <div class="col-md-9">
    <h5 class="mt-4"> استعادة كلمة المرور</h5>
    <hr class="mb-4">
    
    <div *ngIf="success!==''" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{success}}</strong>
    </div>

    <div *ngIf="error!==''" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{error}}</strong>
      </div>
    </div>
    <div class="col-md-5">
        <form [formGroup]="forgetForm" (ngSubmit)="forget()">
           
            <div class="form-group">
              <label for="email">البريد الالكترونى</label>
              <input type="email" class="form-control" [ngClass]="{'is-invalid':this.forgetForm.get('email').invalid&& this.forgetForm.get('email').touched }" formControlName="email" id="email" 
              aria-describedby="emailHelp" placeholder="البريد الالكترونى" [ngClass]="{'is-valid': this.forgetForm.get('email').valid}">
              <div class="text-danger" *ngIf="this.forgetForm.get('email').hasError('required')&& this.forgetForm.get('email').touched">البريد الالكترونى مطلوب</div>
              <div class="text-danger" *ngIf="this.forgetForm.get('email').hasError('pattern')&& this.forgetForm.get('email').touched">البريد الالكترونى غير صالح</div>

            
            </div>
            

            <button type="submit"[disabled]="forgetForm.invalid " class="btn btn-primary">طلب استعاده</button>
          </form>
    </div>


</div>
